/* Enter your custom styles here */

.sapUiSizeCompact .sapMBtn {
    height: 2rem;
}

.sapUiSizeCompact .sapMBtnInner {
    height: 2rem;
    min-width: 2rem;
}

.sapUiSizeCompact .sapMBtnContent {
    line-height: 2rem;
}

.sapUiSizeCompact .sapMBtnIcon {
    line-height: 1.5rem;
}

.borderTop{
border-top: 0.0625rem solid #ccc;
}

.zSegmentedButton {
    min-width: 450px !important;
}

.zsapUiTinyPadding {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.zsapUiNoPadding {
    padding: 0px !important;
}

.zsapUiTinyPadding sapMPanelContent {
    padding-bottom: 0.625rem !important;
}

.sapMInputBaseInner {
    text-align: center;
}

.sapMPanelContent {
    padding-bottom: 0.625rem !important;
    padding-left:  0.5rem !important;
    padding-right:  0.5rem !important;
}

.sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: 0.0625rem solid #d9d9d9;
}

sapUiRespGrid.sapUiRespGridVSpace1>div {
    margin-bottom: 0rem;
}

.size1 {
	font-size : 1.5rem;
}
.size2 {
	font-size : 2rem;
}
.size3 {
	font-size : 5rem;
}
.size4 {
	font-size : 7.5rem;
}
.size5 {
	font-size : 10rem;
}

.sapSuiteStackedMC.sapSuiteStackedMCSizeL {
    width: 13rem !important;
    height: 3.25rem !important;
}

.sapSuiteStackedMC .sapSuiteStackedMCBar{
    height: 1.5rem !important;
}

.sapMGenericTag .sapMGenericTagWrap {
    width: 13rem !important;
}

.sapSuiteStackedMCBarLabel{
    line-height: 1.5rem !important;
}

.sapMListTblRow.sapMListTblRowMiddle>td {
    vertical-align: middle;
    padding-top: 0rem;
    padding-bottom: 0rem;
}